<div fxLayout="column" fxFlex>

  <mat-toolbar id="main-toolbar" color="primary">
    <span>{{title}}</span>
    <span class="flex-fill-remaining-space"></span>
    <button
      mat-raised-button
      (click)="attemptSignIn()">Sign Out</button>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <nav id="main-nav-bar" mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let routeLink of routeLinks"
        [routerLink]="routeLink.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive">
          {{routeLink.label}}
      </a>
    </nav>

    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

</div>
