<div fxLayout="row">

  <div fxFlex="70" fxLayout="column">

    <md-card class="card-chat">
      <md-card-header>
        <md-card-title>Chat</md-card-title>
      </md-card-header>

      <iframe frameborder="0"
              scrolling="no"
              [src]="chatSource">
      </iframe>
    </md-card>

    <md-card style="display: none">
    </md-card>

  </div>

  <div fxFlex></div>

  <div fxFlex="28" fxLayout="column">

    <md-card>
    </md-card>

    <md-card style="display: none">
    </md-card>

  </div>

</div>
