<div fxLayout="row">

  <div fxFlex="70" fxLayout="column">

    <mat-card class="card-chat">
      <mat-card-header>
        <mat-card-title>Chat</mat-card-title>
      </mat-card-header>

      <iframe frameborder="0"
              scrolling="no"
              [src]="chatSource">
      </iframe>
    </mat-card>

    <mat-card style="display: none">
    </mat-card>

  </div>

  <div fxFlex></div>

  <div fxFlex="28" fxLayout="column">

    <mat-card>
    </mat-card>

    <mat-card style="display: none">
    </mat-card>

  </div>

</div>
