<div fxLayout="row" fxLayoutAlign="space-between center">

  <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">

    <md-card fxFlex>
      <md-card-title>Chat</md-card-title>

      <iframe frameborder="0"
              scrolling="no"
              src="http://www.twitch.tv/hebo/chat">
      </iframe>
    </md-card>

    <md-card fxFlex>
    </md-card>

  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">

    <md-card fxFlex>
    </md-card>

    <md-card fxFlex>
    </md-card>

  </div>

</div>
