<div fxLayout="row">
  <div fxFlex="70">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Raffle</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="row">
        <div fxFlex="25" fxLayout="column" class="actions">
          <div fxFlex class="action">
            <button mat-icon-button disableRipple>
              <mat-icon>lock_open</mat-icon>
            </button>
            <br>
            <span>Open</span>
          </div>
          <div fxFlex class="action">
            <button mat-icon-button disableRipple>
              <mat-icon>cake</mat-icon>
            </button>
            <br>
            <span>Draw</span>
          </div>
          <div fxFlex class="action">
            <button mat-icon-button disableRipple>
              <mat-icon>replay</mat-icon>
            </button>
            <br>
            <span>Restart</span>
          </div>
          <div fxFlex class="action">
            <button mat-icon-button disableRipple>
              <mat-icon>lock</mat-icon>
            </button>
            <br>
            <span>Close</span>
          </div>
        </div>
        <div fxFlex></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex></div>

  <div fxFlex="28">
  </div>
</div>
